@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300&display=swap');

*::before,
*::after {
  box-sizing: border-box;
}

h1 {
  margin: 0;
}

body {
  margin: 0;
  height: 100vh;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

.main-title {
  font-family: 'Karla', sans-serif;
  font-size: 6rem;
  color: lightgreen;

  /* text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000, -5px -5px 0 var(--clr-yellow), 5px -5px 0 var(--clr-yellow),
    -5px 5px 0 var(--clr-yellow), 5px 5px 0 var(--clr-yellow),
    8px 15px 20px var(--clr-green); */
}

.main-input {
  font-family: 'Karla', sans-serif;
  color: lightseagreen;
  border: lime 3px dotted;
  font-size: 2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.characterContainer {
  padding: 3em;
  grid-gap: 2em;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}
